<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AdventureWorksOLTazure"
         connectionString="Server=tcp:spdvi2021sql.database.windows.net,1433;Initial Catalog=AdventureWorksLTazure;Persist Security Info=False;User ID=spdvi;Password=Viva3rcol3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient"/>
    <add name="AdventureWorksOLTlocalhost"
         connectionString="Server=127.0.0.1;Port=3306;Database=adventureworksoltlocal;Uid=spdvi;Pwd=Viva3rcole;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>